<div class="row">
    <div class="col-md-4 col-sm-8">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <form>
                        <div class="form-group">
                            <label for="sel1">Select Date</label>
                            <select class="form-control" (change)="onChange($event.target.value)">
                                <option *ngFor="let date of dates">{{date}}</option>
                            </select>
                        </div>
                    </form>
                    <span class="caption-subject bold uppercase font-dark">Users Data</span>
                    <span class="caption-helper">Tracking...</span>
                </div>
            </div>
        <div class="portlet-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Browser Name</th>                      
                        <th>Type</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of modifiedData">
                        <td>
                            <p>{{ user.name}}</p>
                        </td>
                         <td>
                            <p>{{ user.type }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
